@using TicariOtomasyon.Models.Siniflar
@model List<KargoTakip>
@{
    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<br />
<br />
<h2>Cari Kargo Takip</h2>
<br />
<br />

<table class="table table-striped">

    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>
    </tr>
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td> @{i++;} @i</td>
            <td>@item.Aciklama</td>
            <td>@item.TarihZaman</td>
        </tr>
    }
</table>

