
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="kod" />
        <input type="submit" value="QR oluştur" />
    }
    <br />
    @if (ViewBag.karekodimg != null)
    {
        <img src="@ViewBag.karekodimg" alt="" style="width:400px;" height:"400px" />
    }
</div>

